@font-face {font-family: 'ThirstyRoughBol';src: url('webfonts/2A81AB_0_0.eot');src: url('webfonts/2A81AB_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2A81AB_0_0.woff') format('woff'),url('webfonts/2A81AB_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'TrendSlabOne';src: url('webfonts/2A81AB_1_0.eot');src: url('webfonts/2A81AB_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2A81AB_1_0.woff') format('woff'),url('webfonts/2A81AB_1_0.ttf') format('truetype');}
 